.root {
  background-color: gray;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  z-index: 1;
}

.img {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 40px;
  height: 40px;
}

.container {
  display: flex;
  color: white;
  flex-direction: column;
  max-width: 200px;
  height: 500px;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  margin-top: 15%;
}

.link {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.log {
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #354fc0;
  text-align: center;
}
